<ion-view hide-nav-bar="true">
    <ion-content class="text-center">
        <div style="height: 25px"></div>
        <img src="img/charactor.jpg" style="width: 140px; height: auto">

        <h2>Want to add a photo?</h2>

        <p>Add a photo, so friends can recognize you.</p>
        <button class="button button-block button-clear button-large button-positive">Choose from photos</button>
        <button class="button button-block button-clear button-large button-positive">Take photo</button>
        <a class="button button-block button-clear button-positive" href="#/sign-up-success">Not now</a>
    </ion-content>
</ion-view>