<ion-view view-title="Контакты">

      <ion-content>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="search"/>
            </label>
            <span ng-repeat="contact in chats.contacts | filter: search | orderBy:'name.givenName'">
                <ion-item class="item" nav-direction="forward"  href="#/chatse/{{ ::contact.id }}">

                    <h3>
                        <small>{{::contact.name.givenName}}</small>
                    </h3>

                    <ion-option-button on-drag-left="onDragLeft()" class="button-balanced" ng-click="chats.sendFrendSms(contact.phoneNumbers[0].value)">
                        Пригласить
                    </ion-option-button>

                </ion-item>
            </span>
        </ion-list>
    </ion-content>
</ion-view>