<ion-view view-title="{{chat.contact.name.formatted}}">
    <ion-nav-buttons side="primary">
        <button nav-direction="back" class="button button-clear button-icon button-positive icon ion-ios-arrow-back"
                ng-click="historyBack()">Назад
        </button>
    </ion-nav-buttons>

    <ion-content  style="background-color: #f4f4f4">
        <ion-list>
            <ion-item class="item-avatar item-avatar-center item-avatar-xl text-center"
                      style="background-color: #f4f4f4">
            </ion-item>

            <!--div class="padding text-center">
                <p>
                    Выберите номер телефона на который хотели бы отправить интерес.
                    Вы можете указать несколько номеров для отправки.
                </p>
            </div-->


            <ion-toggle ng-repeat="item in chat.phones"
                        ng-model="item.checked"
                        ng-checked="item.checked">
                <h3><small>{{ item.text }}</small></h3>
            </ion-toggle>



            <div style="height: 35px"></div>


            <ion-checkbox ng-repeat="item in chat.interest" ng-model="item.checked" ng-checked="item.checked">
                {{ item.text }}
            </ion-checkbox>

            <!--ion-item class="item-icon-left" ng-click="chat.setNotification();">
                <i class="icon ion-ios-chatbubble-outline positive"></i>

            </ion-item-->

            <div class="padding text-center">
                <a class="button button-clear button-large button-balanced " ng-click="chat.sendInteretsOneSms()" ng-disabled="chat.sendFlag()">
                    Отправить
                </a>
            </div>

            <div style="height: 35px"></div>
        </ion-list>
    </ion-content>
</ion-view>