<!--
<button ng-click="chat.sendInteretsOneSms(contact.phoneNumbers[0].value)" class="button button-full button-positive">
    Пойти в кино
</button>
<button class="button button-full button-positive">
    Выпить пиво
</button>
<button class="button button-full button-positive">
    Съесть пиццу
</button>
<p>
    <a href="#" class="subdued">Отправленно интересов: 0</a>
</p>
-->

<style>
    .fileUpload {
        position: relative;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -40px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        width: 80px;
        height: 80px;
    }

    .item-avatar .fileUpload > img:first-child {
        border-radius: 50%;
    }
</style>

<ion-view view-title="{{chat.contact.name.givenName}}">
    <ion-nav-buttons side="primary">
        <button nav-direction="back" class="button button-clear button-icon button-positive icon ion-ios-arrow-back"
                ng-click="historyBack()">Назад
        </button>
    </ion-nav-buttons>

    <ion-content  style="background-color: #f4f4f4">
        <ion-list>
            <ion-item class="item-avatar item-avatar-center item-avatar-xl text-center"
                      style="background-color: #f4f4f4">



                <h2>
                    <small></small>
                </h2>

                <p ng-if="room.userList.length > 2">{{room.activeTime}}</p>

                <p ng-if="room.userList.length == 2">{{user.friendType}}</p>
            </ion-item>

            <div class="padding text-center">
                <p>
                    Выберите номер телефона на который хотели бы отправить интерес.
                    Вы можете указать несколько номеров для отправки.
                </p>
            </div>

            <div style="height: 25px"></div>

            <ion-toggle ng-repeat="item in chat.phones"
                        ng-model="item.checked"
                        ng-checked="item.checked">
                <h3><small>{{ item.text }}</small></h3>
            </ion-toggle>


            <div style="height: 35px"></div>

            <ion-item class="item-icon-left" ng-click="chat.setNotification(chat.contactId, chat.contact.name.givenName);">
                <i class="icon ion-ios-chatbubble-outline positive"></i>
                {{chat.getInterest()}}
            </ion-item>

            <div class="padding text-center">
                <a class="button button-clear button-large button-balanced " ng-click="chat.sendInteretsOneSms()" ng-disabled="chat.sendFlag()">
                    Отправить
                </a>
            </div>

            <div style="height: 35px"></div>
        </ion-list>
    </ion-content>
</ion-view>