<ion-view>
    <ion-header-bar align-title="center" style="background: #FA7470">
        <h1 style="color: #ffffff" class="title">Ваши контакты</h1>
    </ion-header-bar>
    <div class="bar bar-subheader subbar-search">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Поиск" ng-model="search">
        </label>
        <button class="button button-clear button-positive" ng-click="closeSearch(); search = null;" ng-hide="!search || search.length === 0">
            Отмена
        </button>
    </div>
      <ion-content>
          <div style="height: 42px"></div>
        <ion-list>
            <ion-item ng-repeat="contact in chats.contacts | filter: search | orderBy:'name.formatted'" class="item" on-touch="onTouch()" nav-direction="forward"  href="#/chatse/{{ ::contact.id }}">
                <h3>
                    <small style="font-weight: bold">{{::contact.name.formatted}}</small>
                </h3>

                <ion-option-button on-drag-left="onDragLeft()" class="button-balanced" ng-click="chats.sendFrendSms(contact.phoneNumbers[0].value)">
                    Пригласить
                </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>