<ion-view class="record-splash grad-bg">
    <ion-content scroll="false" class="tutor-wrap">
        <img width="230px" height="230px" src="img/succ-bbl-3.png" alt="">
        <div class="text">
            <h3>Интерес отправлен</h3>
            <p>
                Ваш интерес успешно отправлен
            </p>
            <a ui-sref="tab.groups" class="bot-btn blue">
                Закрыть
                <i class="ion-android-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>