<ion-view hide-nav-bar="true">
    <ion-content class="padding text-center">
        <div style="height:85px"></div>

        <p style="font-size: 22px">Авторизация</p>

        <div style="height: 25px"></div>

        <p>Введите номер телефона и вы получите SMS уведомление с кодом подтверждения</p>

        <div style="height: 25px"></div>

        <ion-list class="border-none">
            <ion-item class="item-input border-bottom">
                <input autocomplete="off" autocorrect="off" mask="+9 (999) 999-99-99" ng-model="logger.phone"  on-return="logger.login()" type="tel" placeholder="Введите номер">
            </ion-item>
        </ion-list>
        <div style="height: 10px"></div>
    </ion-content>
    <ion-footer-bar class="footer-btn">
        <button class="button button-positive" ng-click="logger.login()" ng-disabled="!logger.phone || logger.phone.length === 0">Получить код<i class="ion-android-arrow-forward"></i></button>
    </ion-footer-bar>
</ion-view>