<ion-modal-view ng-controller="NewChatCtrl as chat">
  <ion-header-bar>
    <h1 class="title">New Chat</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="chat.hideNewChatModal()">Cancel</button>
    </div>
  </ion-header-bar>

  <ion-content>
  <div class="list">
      <label ng-repeat="contact in chat.contacts track by $index">
          <a class="item item-avatar"  ui-sref="cantactDetail">
              <h2>{{contact.name.givenName}}</h2>
              <label ng-repeat="number in contact.phoneNumbers track by $index">
                  <p>{{number.value}}</p>
              </label>
              <label ng-repeat="photos in contact.photos track by $index">
                  <img src="{{photos.value}}">
              </label>
          </a>
      </label>
  </div>
   <div class="list">
      <a ng-repeat="contact in chat.contacts track by $index" class="item">
        <h2>{{contact.name.givenName}}</h2>
        <p>
          Hey there! I am using meteor-Whatsapp with meteor.
        </p>
      </a>
    </div>
  </ion-content>
</ion-modal-view>