<ion-view hide-nav-bar="true">
    <ion-content class="padding text-center">
        <div style="height: 25px"></div>
        <ion-list class="border-none">
            <ion-item class="item-avatar item-avatar-center item-avatar-xl text-center" ng-if="userId!==213">
                <img ng-src="/img/user01.jpg">
                <span class="badge avatar-badge avatar-badge-l badge-positive">
                    <i class="icon ion-ios-bolt"></i>
                </span>
            </ion-item>
        </ion-list>

        <h2>You are on CheckInt!</h2>
        <p>Showed his first interest in your friends.</p>

        <div style="height: 35px"></div>

        <a class="button button-block button-clear button-large button-positive" href="#/tab/chats">OK</a>
    </ion-content>
</ion-view>