<ion-view class="record-splash grad-bg">
    <ion-content scroll="false" class="tutor-wrap">
        <img width="230px" height="230px" src="img/succ-bbl.png" alt="">
        <div class="text">
            <h1>CheckInt</h1>
            <p>
                Проверь свои интересы на взаимность
            </p>
            <a ui-sref="tutor-1" class="bot-btn blue">
                Далее
                <i class="ion-android-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>

