<ion-view view-title="Интересы">
    <ion-header-bar align-title="center" style="background: #FA7470">
        <h1 style="color: #ffffff" class="title">Ваши интересы</h1>
    </ion-header-bar>
    <ion-content>
        <div class="archive-empty" ng-if="friend.list && !(friend.list.length > 0)">
            <img width="110px" src="img/star.png" alt="">
            <h1>ВАШИ СОВПАДЕНИЯ</h1>
            <span>Здесь будут отображаться ваши совпашие интересы</span>
        </div>
        <ion-list>
                <ion-item ng-repeat="item in friend.list" class="item-avatar avatar-mine" type="item-text-wrap" href="#/friend_ineters/{{ ::item.to_id }}" >
                    <img style="width: 40px; height: 40px; margin-top:10px"  ng-src="{{item.math && '/img/plan-time-ok.png' || '/img/clock-blue.png'}}">
                    <h3>
                        <small>{{item.to_name}}</small>
                    </h3>
                    <p ng-show="item.math">Интерес совпал</p>
                    <p ng-hide="item.math">Интерес отправлен</p>
                </ion-item>
        </ion-list>
        <div style="height: 60px"></div>
    </ion-content>
</ion-view>