<ion-view view-title="Интересы">
    <ion-content>
        <ion-list ng-repeat="item in friend.list">
             <span>
                <ion-item class="item-avatar" type="item-text-wrap" href="#/friend_ineters/{{ ::item.to_id }}" nav-direction="forward">
                    <img ng-src="/user-default.svg">
                <span class="badge avatar-badge avatar-badge-s">
                    <i class="icon ion-ios-bolt" ></i>
                    <i class="icon ion-social-facebook light"></i>
                </span>

                    <h3>
                        <small>{{item.to_name}}</small>
                    </h3>
                    <p>Ваши интересы совпали</p>
                </ion-item>
            </span>
        </ion-list>
        <div style="height: 60px"></div>
    </ion-content>
</ion-view>