<ion-view view-title="Интересы">
    <ion-content>
        <ion-list>
             <span>
                <ion-item class="item-avatar" type="item-text-wrap" href="#/room/{{friend.room.id}}" nav-direction="forward">

                    <img ng-src="/user-default.svg">

                <span class="badge avatar-badge avatar-badge-s"
                      ng-class="{'badge-positive':friend.friendType=='Messenger', 'badge-stable':friend.friendType=='facebook'}">
                    <i class="icon ion-ios-bolt" ng-if="friend.friendType=='Messenger'"></i>
                    <i class="icon ion-social-facebook light" ng-if="friend.friendType=='facebook'"></i>
                </span>

                    <h3>
                        <small>Имя кому отправлено</small>
                    </h3>
                    <p>Ответ не получен</p>
                </ion-item>
            </span>
            <span>
                <ion-item class="item-avatar" type="item-text-wrap" href="#/room/{{friend.room.id}}" nav-direction="forward">

                    <img ng-src="/user-default.svg">

                <span class="badge avatar-badge avatar-badge-s"
                      ng-class="{'badge-positive':friend.friendType=='Messenger', 'badge-stable':friend.friendType=='facebook'}">
                    <i class="icon ion-ios-bolt" ng-if="friend.friendType=='Messenger'"></i>
                    <i class="icon ion-social-facebook light" ng-if="friend.friendType=='facebook'"></i>
                </span>

                    <h3>
                        <small>Имя кому отправлено</small>
                    </h3>
                    <p>Ответ получен</p>
                </ion-item>
            </span>
        </ion-list>
        <div style="height: 60px"></div>
    </ion-content>
</ion-view>