<ion-view class="record-splash grad-bg">
    <ion-content scroll="false" class="tutor-wrap">
        <img width="230px" height="230px" src="img/succ-bbl-3.png" alt="">
        <div class="text">
            <h3>Чудеса совпадения</h3>
            <p>
                Мы с радостью сообщим Вам, если ваши интересы совпали
            </p>
            <a ui-sref="login" class="bot-btn blue">
                Далее
                <i class="ion-android-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>