<ion-view class="record-splash grad-bg">
    <ion-content scroll="false" class="tutor-wrap">
        <img width="230px" height="230px" src="img/succ-bbl-2.png" alt="">
        <div class="text">
            <h3>Делитесь желаниями</h3>
            <p>
                Выберите друга из списка контактов и отправьте ему анонимный интерес
            </p>
            <a ui-sref="tutor-2" class="bot-btn blue">
                Далее
                <i class="ion-android-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>